html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 1.5rem;
	text-align: center;
	font-size: 5rem;
}

table {
	width: 40rem;
	height: 40rem;
	margin: auto;
	background-color: #edf2f4;
	padding: 1rem;
	border: black solid .2rem;
	border-radius: 1.5rem;
}

div {
	height: 8rem;
	font-size: 3rem;
	text-align: center;
	margin-bottom: .5rem;
}

button {
	width: calc(35rem/4);
	height: 8rem;
	border: .2rem black solid;
	font-size: 3rem;
	text-align: center;
	background-color: #fefae0;
}

.screen {
	text-align: end;
    border: black solid .2rem;
    border-radius: 1.5rem;
    background-color: #ffffff;
    line-height: 8rem;
	padding-right: .5rem;
}